.input-question {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-question-title {
  font-size: 24px;
}

.input-question-input {
  width: calc(100% - 10px);
  padding: 6px 9px;
  margin-left: 10px;
  border: 1px solid grey;
  border-radius: 6px;
}
