.checbox-questions {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checbox-questions-title,
.checbox-questions-title-create {
  font-size: 24px;
  font-weight: 500;
}

.checkbox-questions-list {
  width: 100%;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.checkbox-questions-list-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.checkbox-questions-list-item > input,
.checkbox-questions-list-item > label {
  cursor: pointer;
}

.checkbox-questions-list-item-input-create {
  padding: 3px 4px;
  outline: none;
}
